/* Color-Scheme For All Themes*/

* {
    background:    #373E4D;
    background-alt:    #000000ff;
    foreground:    #FFFFFFFF;
    /* border:    #5895DCff; */
    border:     #ffffff00;
    selected:    #5895DCff;
    urgent:    #EC407Aff;
	logo:    #EC407Aff;
	on:    #61C766ff;
	off:    #EC7875ff;
}
